/*     

    body {
      min-height: 100%;
      margin: 0;
      padding: 0;
    }
    body {
        display : table;
        width: 100%;
    }
    footer {
        display : table-row;
        height: 100px; 
    }
    body {
        font: 14px "Helvetica Neue","Open Sans",sans-serif;
      } */
html {
  scroll-behavior: smooth;
}

.bg-white {
  background: white;
}
.bg-blue {
  background: #0223bf;
}

/* h1, h2 {
        font-weight: 100;
      }
      
      h1 {
        font-size: 35px;
      }
      
      ul li {
        padding: 5px;
      } */

.dropzone {
  /* min-height: 150px; */
  border: none;
  background: transparent;
  padding: 0px 0px 0px 0px;
  padding-top: -14px;
  margin-top: -25px;
  margin-bottom: -25px;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  /* flex-wrap: wrap; */
}

.pg5 {
  padding: 5px;
}

.pg5 > div {
  padding: 5px;
}

.mb5 {
  margin-bottom: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mt20 {
  margin-top: 20px;
}

.fs7em {
  font-size: 0.7em;
}

.hide {
  display: none;
}

.justifiy-content-center {
  justify-content: center;
}

.ika-dropzone-message {
  font-size: 1.5em;
  color: #797979;
  width: 100%;
}

.ika-thumbnail {
  /* position: relative; */
  /* width: 200px; */
  height: 200px;
  /* overflow: hidden; */
}
.ika-thumbnail img {
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* height: 100%; */
  width: auto;
  /* -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%); */
}
.ika-thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#loading {
  font-size: 1em;
  color: #335eea;
  position: fixed;
  right: 0;
  left: 0;
  top: 1%;
  z-index: 100000;
}

.bg-gray {
  background: #fafafa;
}
.bg-black {
  background: black;
}

.color-white {
  color: white;
}

.padding-bottom-3em {
  padding-bottom: 3em;
}

.flex-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.space-between {
  justify-content: space-between;
}

.home-card {
  max-width: 320px;
  margin-right: 10px;
  min-width: 320px;
}

/* AUTOCOMPLETE */

/* scaffolding */
/* ----------- */

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
  text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

/* .form-control{
      border: 1px solid #e5e9ec;
    } */

textarea:invalid {
  background-color: #a8b7ff14;
  /* border-color:gray; */
  /* border: 1px dashed #b3b3b3; */
}

textarea {
  min-height: 200px;
}

/* input:focus:invalid {
        border-color:#ff1616;
      } */

pre {
  font-size: 1em;
}

.output-box {
  border: 1px solid #f5f5f5;
  display: block;
  padding: 20px;
  margin-bottom: 5px;
  width: 100%;
  background: #fefeff;
  /* font-size:1.1 em; */
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

img.shadow {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.w100p {
  width: 100%;
}

.w500 {
  width: 500px;
  height: auto;
}
.w50 {
  width: 50px;
  height: auto;
}

.text-muted {
  font-size: 0.9em;
}

input:invalid {
  background-color: #a8b7ff14;
}

video {
  width: 50%;
  height: 80%;
  background: black;
  display: block;
  margin-bottom: 1em;
}

.source-code-textarea-output {
  min-width: 500px;
  width: 100%;
  min-height: 400px;
}

/*     
    header{
      position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        height: 76px;
        background: white;
    } */

#sidebarMenuDocumentation {
  position: fixed;
  overflow-y: scroll;
  top: 3em;
  bottom: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#sidebarMenuDocumentation::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebarMenuDocumentation {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar {
  padding: 0.4rem 0;
}

.italic {
  font-style: italic;
}

@media screen and (max-width: 8z00px) {
  .hide-if-under-800 {
    display: none !important;
  }
}

h3::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

.horizontal-layout {
  padding-left: 10px;
}

.ika-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .ika-container {
    max-width: 1040px;
  }
}

.output-result {
  max-width: 25em;
}

@media (max-width: 767.98px) {
  .landing-section {
    padding: 12rem 0;
  }
}
.landing-section {
  background-image: url(../public/img/covers/cover-8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.max-width-450 {
  max-width: 450px;
}

.consulting-img1 {
  min-height: 1px;
  max-width: 50%;
  margin-left: 50%;
}
.consulting-img2 {
  min-height: 1px;
  max-width: 50%;
  margin-top: -15%;
}
.consulting-img3 {
  min-height: 1px;
  max-width: 50%;
  margin-top: 0%;
  margin-left: -20%;
}
.consulting-img4 {
  min-height: 1px;
  max-width: 50%;
  margin-top: -60%;
  margin-left: 60%;
}

.cover-team {
  background-image: url(../public/img/covers/team.jpg);
}

.badge-secondary {
  color: #fff;
  background-color: #506690;
}

.badge-light {
  color: #1b2a4e;
}

.nav-link {
  color: #303958;
}

.active-link {
  color: #133bbd;
}
.card-img-left {
  height: 25rem;
}
@media (max-width: 991.98px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    margin: 1rem auto;
  }
}

@media (max-width: 991.98px) {
  .menu-header {
    display: none;
  }
}
